@import "common";
@mixin text-menu {
  span{
		position: relative;
		padding-bottom: 5px;
	}
	span:after{
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0%;
		right: 0%;
		margin: 0 auto;
		background:#4a90e2;
		height: 3px;
		width: 0%;
		transition: all .2s;
	}
	span:hover:after{ width: 100%;}
	.active span:after{ width: 100% !important;}
}
body {
	counter-reset: sec-counter;
}
header {
	background-color: $color-white;
	.top-menu {
		display: flex;
		justify-content: space-between;
		.logo {
			object-fit: cover;
			margin: 16px;
			img {
				width: 80%;
			}
		}
		.nav {
			margin-top: 40px;
			@media screen and (max-width: $break-medium) {
				display: none;
			}
			ul {
				li {
					float: left;
					padding: 0 12px;
					font-size: 14px;
					text-transform: uppercase;
					a {
						color: $color-content;
						font-weight: 600;
					}
					i#search {
						padding: 15px;
						background-color: #006644;
						border-radius: 50%;
						font-size: 18px;
						margin-top: -13px;
						color: $color-white;
						cursor: pointer;
					}
				}
			}
		}

	}
}
.slider {
	.img {
		padding-top: 143px;
		@media screen and (max-width: $break-medium) {
			padding-top: 70px;
		}
		@media screen and (max-width: $break-mobile) {
			padding-top: 30px;
			padding-bottom: 20px;
		}
		.title {
			h3 {
				@media screen and (max-width: $break-medium) {
					font-size: 30px;
				}
				@media screen and (max-width: $break-tablet) {
					font-size: 22px;
				}
				@media screen and (max-width: $break-mobile) {
					font-size: 14px;
				}
				font-size: 51px;
				color: $color-white;
				font-weight: 600;
				text-transform: uppercase;
			}
			button.more {
				@media screen and(max-width: $break-tablet) {
					margin-top: 0;
				}
				text-transform: uppercase;
				color: $color-white;
				background-color: #f39316;
				border-radius: 29px;
				border: none;
				margin-top: 20px;
			}
		}
	}
}
.introduce {
	margin-top: 100px;
	h3 {
		padding-bottom: 44px;
	}
	.icon {
		object-fit: cover;
		min-height: 135px;
	}
	button {
		color: $color-white;
		background-color: $color-content;
		border:none;
		margin-top: 55px;
	}
	.tower-left {
		object-fit: cover;
		img {
			@media screen and (max-width: $max-tablet) {
				//width: 35%;
			}
			width:100%;
		}
	}
	.tower-right {
		object-fit: cover;
		position: relative;
		img {
			width: 100%;
			position: absolute;
			right: 0;
		}
	}
}
.advantages {
	padding-top: 50px;
	padding-bottom: 50px;
	h3 {
		padding: 50px;
	}
	p {
		color: $color-white;
		padding-top: 20px;
	}
}
.course {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f5f5f5;
	h3 {
		padding: 50px;
	}
	.strong {
		margin-bottom: 30px;
		font-size: 20px;
	}
	.widget {
		background-color: $color-white;
		border-radius: 17px;
		padding-bottom: 20px;
		margin-top: 20px;
		height: 385px;
		transition: 0.75s;
		&:hover {
			background-color: $color-content;
			img {
				transform: scale(1.3);
			}
			.content {
				h4 {
					a {
						color: $color-white;
					}

				}
				i.fa-plus-circle {
					display: block;
					color: $color-title;
				}
			}

		}
		.thumb {
			object-fit: cover;
			overflow: hidden;
			height: 167px;
			border-top-left-radius: 17px;
			border-top-right-radius: 17px;
			img {
				width: 100%;
				height: 100%;
				transition: all 1s;
			}
		}
		.content {
			transition: all 0.75s;
			h5 {
				font-size: 16px;
				text-transform: uppercase;
				padding-top: 15px;
				color: #f39316;
				font-weight: 600;
			}
			h4 {
				a {
					font-size: 21px;
					color: $color-content;
					text-transform: uppercase;
					font-weight: 600;
					padding-top: 10px;
				}

			}
			p {
				font-size: 14px;
				color: #a2a2a2;
				padding: 20px 20px 0px 20px;
			}
			i.fa-plus-circle {
				display: none;
				transition: all 0.75s;
			}
			button {
				border: none;
				font-size: 14px;
				background-color: $color-content;
				color: $color-white;
			}
		}
	}
}
.achievements {
	padding: 70px;
	@media screen and (max-width: $break-tablet) {
		padding: 20px;
	}
	h4 {
		font-size: 17px;
		color: $color-white;
		padding-bottom: 30px;
		padding-top: 15px;
	}
	.widget {
		.thumb {
			@media screen and (max-width: $max-tablet) {
				margin: 0 auto;
				.title {
					text-align: center !important;
				}
			}
			object-fit: cover;
			overflow: hidden;
			border-radius: 9px;
			max-width: 260px;
			max-height: 165px;
		}
		.title {
			text-align: left;
			@media screen and (max-width: $break-tablet) {
				text-align: center;
			}
			h5.title {
				color: $color-white;
				padding-top: 17px;
				font-weight: 600;
			}
			p {
				color: $color-white;
			}
		}

	}
}
.achievement {
	padding: 70px;
	@media screen and (max-width: $break-tablet) {
		padding: 20px;
	}
	.widget {
		transition: 0.75s;
		margin-top: 20px;
		&:hover {
			background-color: $color-content;
			.widget-content {
				p.content {
					color: $color-title;
				}
				button {
					background-color: $color-title;
				}
			}
		}
		background-color: $color-title;
		border-radius: 10px;
		padding: 25px;
		.thumb {
			overflow: hidden;
			max-width: 252px;
			max-height: 222px;
		}
		.widget-content {
			padding-top: 10px;
			p.content {
				color: $color-content;
				margin-bottom: 5px;
			}
			h4.title {
				color: $color-white;
			}
			p {
				color: $color-white;
			}
			button {
				background-color: $color-content;
				color: $color-white;
				border-radius: 28px;
			}
		}
	}
	.scholarship {
		margin-top: 20px;
		.thumb {
			height: 150px;
			width: 150px;
			overflow: hidden;
			object-position: right;
			object-fit: cover;
			border-radius: 50%;
			position: relative;
			text-align: center;
			margin: 0 auto;
			img {
				position: absolute;
			}
		}
		.info {
			border-right: 1px solid #d7d7d7;
			border-left: 1px solid #d7d7d7;
			h5 {
				color: $color-content;
				padding-top: 25px;
			}
			.ashford {
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin-top: 30px;
				.img {
					position: relative;
					::after {

					}
				}
			}
			.img:after {
				content: "";
				height: 60px;
				color: #d7d7d7;
				border: 1px solid;
				position: absolute;
				right: -25px;
			}
			.ashford-content {
				color: $color-title;
				text-align: left;
				p {
					font-size: 11px;
					margin-bottom: 5px;
					font-weight: 600;
					margin-top: 3px;
				}
				p.top {
					font-size: 24px;
					font-weight: 600;
				}
			}
			.totallity {
				margin-top: 30px;
				p {
					margin-bottom: 3px;
					color: #28292d;
				}
				p.hocbong {
					padding: 10px ;
					margin: 0px 20px;
					border-radius: 25px 0px;
					background-color: $color-title;
					font-weight: 600;
					color: $color-white;
				}

			}
		}
	}
	button {
		background-color: $color-content;
		color: $color-white;
		border-radius: 30px;
		&:hover {
			background-color: #29ad81;
			transition: 0.3s;
		}
	}
}
.opinion {
	padding-top: 70px;
    h3 {
      color: $color-content;
      font-weight: 600;
    }
    p {
      padding-right: 30px;
    }
	#opinion-widget {
        .owl-item {
          border-radius: 18px;
          background-color: $color-title;
          transition: 0.5s;
          &:hover {
            background-color: $color-content;
          }
          .thumb {
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            overflow: hidden;
            height: 220px;
            img {
              height: 100%;
            }
          }
          .name {
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            .widget-name {
              color: $color-white;
              h4 {
                font-weight: 600;
                text-transform: uppercase;
				  font-size: 20px;
              }
            }
            .widget-fb {
              i {
                font-size: 22px;
                color: $color-white;
                padding-right: 10px;
                &:hover {
                  color: #19bfc7;
                }
              }

            }

          }
          .content {
            p {
              font-size: 15px;
              color: $color-white;
              padding: 10px 20px;
              font-style: italic;
            }
          }

        }
      .owl-dots {
        @media screen and (max-width: $break-tablet){
          position: relative !important;
          top: 0 !important;
          left: 0 !important;
        }
        position: absolute !important;
        left: -53%;
        top: 54%;
        .active {
          span {
            background: $color-content !important;
          }
        }
      }
	}
}
main.relic {
	.banner-top {
		position: relative;
		.img-banner {
			img {
				@media screen and (max-width: $break-big){
					height: 400px;
				}
				@media screen and (max-width: $break-medium) {
					height: 300px;
				}
				height: 480px;
				object-fit: cover;
			}
		}
		.img-banner:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 54%;
			height: 100%;
			background: url('../img/relic/banner/background.png') no-repeat top right;
			background-size: cover;
		}
		.title-top {
			position: absolute;
			top: 0;
			left: 0;
			.text {
				@media screen and (max-width: $break-big) {
					max-width: 384px;
				}
				@media screen and (max-width: $break-medium) {
					max-width: 280px;
					margin-top: 50px;
				}
				margin-top: 115px;
				max-width: 500px;
				h1 {
					@media screen and (max-width: $break-big) {
						font-size: 33px;
					}
					@media screen and (max-width: $break-medium) {
						font-size: 27px;
					}
					font-size: 46px;
					color: $color-title;
					font-weight: 600;
					span {
						@media screen and (max-width: $break-medium) {
							padding: 5px 13px;
						}
						display: inline-block;
						color: #fff;
						padding: 10px 20px;
						position: relative;
						background: #064;
						padding-top: 15px;
						border-radius: 10px;
						-webkit-clip-path: polygon(100% 0,100% 100%,50% 100%,3% 100%,0 17%);
						clip-path: polygon(100% 0,100% 100%,50% 100%,3% 100%,0 17%);
					}
				}
				p {
					margin-top: 30px;
				}
			}
		}
	}
}


